<!DOCTYPE html>
<html lang="js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    </head>
    <body>

        <div class="header-container">

            <div class="header-content">

                <a href="/"><h1>タイトル</h1></a>

                <ul>
                    <a href="/plans"><li>プラン・ご予約</li></a>

                    <% if (locals.login) { %>
                        <a href="/logout"><li>ログアウト</li></a>
                    <% } else { %>
                        <a href="/login"><li>ログイン</li></a>
                    <% } %>

                    <a><li>マイページ</li></a>           
                    <a><li>アクセス</li></a>
                    <a><li>お問い合わせ</li></a>
                </ul>

                <% if (locals.login) { %>
                    <%= locals.name %>
                <% } else { %>
                    <p>ゲスト</p>
                <% } %>

            </div>

        </div>
        
    </body>
</html>