<!DOCTYPE html>
<html lang="js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    </head>
    <body>

        <div class="header">
            <%- include("components/header") %>
        </div>

        <h1>確認</h1>
        
    </body>
</html>