<!DOCTYPE html>
<html lang="js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    </head>
    <body>

        <div class="header">
            <%- include('components/header') %>
        </div>

        <div class="title">
            <%- include('components/title', {title: 'ログイン'}) %>
        </div>

        <h1>ログイン</h1>

        <form action="/login" method="post">

            <%= errorMs %>

            <label>メールアドレス</label>
            <input type="text" name="mail" required>

            <label>パスワード</label>
            <input type="password" maxlength="15" name="password" required>

            <input type="submit" value="ログイン">

        </form>

        <a href="/sign-up"><p>新規登録</p></a>

        <%- include('components/footer') %>
        
    </body>
</html>