<!DOCTYPE html>
<html lang="js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    </head>
    <body>

        <div class="header">
            <%- include('components/header') %>
        </div>

        <form action="/confirmation" method="get">

            <label>お名前</label>
            <input type="text" name="name" required>

            <label>電話番号</label>
            <input type="tel" name="tel" required>

            <label>予約サイト</label>
            <input type="text" name="site" value="<%= name %>" readonly>

            <label>日にち</label>
            <input type="date" name="data" required>

            <label>時間</label>
            <input type="time" name="time" required>

            <label>人数</label>
            <% for(let i=0; i < pplNum; i++){ %>
                <input type="radio" name="ppl-num" value=<%= i+1 %> required><span><%= i+1 %></span>
            <% } %>

            <input type="submit" value="確認">

        </form>
        
    </body>
</html>