<!DOCTYPE html>
<html lang="js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>camp</title>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="/css/main.css">
    </head>
    <body>
    
        <div class="header">
            <%- include('components/header') %>
        </div>

        <div class="top-img-content">
            <a href="https://unsplash.com/ja"><p>
                出典:unsplash
            </p></a>
        </div>

        <div class="top-wrap">

            <div class="top-feature">

                <div class="feautre-text">
                    <h1>テキストテキストテキスト</h1>
                    <p>
                        テキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキスト
                    </p>
                </div>

                <div class="feature-imgs">
                    <div class="img"></div>
                    <div class="img"></div>
                </div>

            </div>


            <div class="service-wrap">

                <div class="service-title">
                    <h2>設備</h2>
                </div>

                <div class="service-container">
                    <div class="service-box">
                        <i class="fa-solid fa-fire"></i>
                        <p>テキストテキストテキスト</p>
                    </div>

                    <div class="service-box">
                        <i class="fa-solid fa-shower"></i>
                        <p>テキストテキストテキスト</p>
                    </div>

                    <div class="service-box">
                        <i class="fa-solid fa-campground"></i>
                        <p>テキストテキストテキスト</p>
                    </div>

                    <div class="service-box">
                        <i class="fa-solid fa-store"></i>
                        <p>テキストテキストテキスト</p>
                    </div> 
                </div>

                <div class="service-text">
                    <p>
                        テキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキスト
                        テキストテキストテキストテキストテキストテキスト
                    </p>
                </div>
                
            </div>

        </div>

        <script src="https://kit.fontawesome.com/aef504842f.js" crossorigin="anonymous"></script>

    </body>
</html>