<!DOCTYPE html>
<html lang="js">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>camp</title>
        <link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
    </head>
    <body>
    
        <div class="header">
            <%- include('components/header') %>
        </div>

        <div>

            <ul>
                <a href="/plans"><li>プラン・ご予約</li></a>
            </ul>

        </div>

    </body>
</html>